.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #6495ED;
  color: #fff;
  font-family: 'Arial', sans-serif; /* Change to your desired font */
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 1.5rem;
  margin-top: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

label {
  margin: 5px 0;
  font-size: 1rem;
}

input {
  padding: 8px;
  margin-bottom: 10px;
}

button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #45a049;
}

hr {
  width: 100%;
  margin: 10px 0;
  border: 1px solid #fff;
}

.message-container {
  margin-top: 20px;
}

